/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    padding: 20px 80px;
}

.centered-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button {
    padding: 0 10px 0 6px;
    min-width: 88px;
    border-radius: 0px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.error {
    color: rgb(255,82,82);
}